.sideNav {
    max-height: 192px;
    z-index: 10;
    position: fixed;
    top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.25rem;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    background-color: var(--background);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-card-hover);
}

.sideNav::-webkit-scrollbar {
    width: 0.25rem;
}

.sideNav::-webkit-scrollbar-track {
    background: var(--card-background);
}

.sideNav::-webkit-scrollbar-thumb {
    background: var(--background-card-hover);
    border-radius: 9999px;
}

.questionText {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
