.root {
  font-family: var(--font-poppins);
  color: var(--text-primary);
}

.root.isMuted {
  color: var(--text-tertiary);
}

.thin {
  font-weight: 500;
}

.thick {
  font-weight: 600;
}

.base {
  font-size: 1rem;
  line-height: 1;
}

.sm {
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);
}

.xs {
  font-size: 0.625rem;
  line-height: calc(1 / 0.625);
}