.header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.header p {
    margin-top: 0.25rem;
    color: var(--text-tertiary);
}

.error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: auto;
    min-height: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form {
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.formField {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.visibilityButton {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    border: none;
    color: var(--text-tertiary);
    outline: none;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
