.trigger {
  width: 100;
}

.trigger:focus-visible {
  background-color: var(--background-dropdown-button-hover);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin-top: 2rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin-top: 2rem;
}

.dropdownNestedDialog {
  width: 100%;
  min-width: unset;
  max-width: unset;
  padding: 0.5rem;
  background: transparent;
}