.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paragraph {
    margin-top: 2rem;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}
