/* Base */
.base {
    width: 100%;
    color: var(--text-button);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    transition:
        background-color 0.15s ease,
        color 0.15s ease,
        border-color 0.15s ease;
    outline: none;
    border: 1px solid transparent;
}

.base:disabled {
    cursor: not-allowed;
}

/* Variants */
.defaultVariant {
    background-color: var(--accent-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.defaultVariant:hover {
    background-color: var(--accent-primary-hover);
}

.secondaryVariant {
    background-color: var(--accent-secondary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.secondaryVariant:hover {
    background-color: var(--accent-secondary-hover);
}

.alertVariant {
    background-color: var(--alert);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.alertVariant:hover {
    background-color: var(--alert-hover);
}

.outlineVariant {
    border: 1px solid var(--border);
    background-color: var(--background);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.outlineVariant:hover {
    background-color: var(--background-hover);
    border-color: var(--border-hover);
}

.ghostVariant {
    color: var(--text-primary);
    background-color: transparent;
}

.ghostVariant:hover {
    background-color: var(--background-card-hover);
}

.linkVariant {
    width: fit-content;
    color: var(--text-primary);
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.linkVariant:hover {
    color: var(--text-tertiary);
}

.base.dropdownVariant {
    justify-content: start;
    padding-left: 0.5rem;
    background-color: transparent;
}

.dropdownVariant:hover {
    background-color: var(--background-dropdown-button-hover);
}

.dropdownVariant:focus {
    background-color: var(--background-dropdown-button-hover);
}

/* Sizes */
.defaultSize {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.75rem;
}

.smSize {
    height: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.75rem;
}

.lgSize {
    height: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
}

.iconSize {
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
}

/* isPressed */
.base.isPressed {
    background-color: var(--background-is-pressed-button);
}
