.workspacesMenuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 7rem;
}

.button {
    background-color: var(--accent-primary);
    transition: background-color 0.15s;
}

.button:hover {
    background-color: var(--accent-primary-hover);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--border);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
