.agentButton {
    background-color: var(--accent-primary);
    transition: background-color 0.15s;
}

.agentButton:hover {
    background-color: var(--accent-primary-hover);
}

.separator {
    width: 100%;
    height: 0.0625rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: var(--border);
}

.loader {
    animation: spin 1s linear infinite;
}
