.container {
    position: relative;
    width: 100%;
    padding-top: 3rem;
}

.actionButtonsOutside {
    position: absolute;
    top: 0.75rem;
    right: 0;
    opacity: 0;
    display: flex;
    gap: 0.375rem;
    transition: opacity 0.2s;
    z-index: 2;
}
s
.actionButtonsInside {
    position: absolute;
    display: flex;
    bottom: 0.5rem;
    right: 0.5 rem;
}

.questionCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--background-card);
    overflow: hidden;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.container:hover .actionButtonsTop,
.container:focus-within .actionButtonsTop {
    opacity: 1;
}

.inputRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputRow.isNew {
    padding-right: 16px;
    padding-left: 16px;
    gap: 16px;
}

.textarea {
    height: auto;
    resize: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-primary);
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid var(--border) !important;
    padding: 0.75rem;
    border: none;
    outline: none;
    width: 100%;
    line-height: 1.75;
}

.textarea::placeholder {
    color: var(--text-primary);
}

.progressBar {
    height: 0.25rem;
    margin-top: 0.75rem;
    transition:
        width 0.3s,
        background-color 0.3s;
    border-radius: 9999px 0 0 9999px;
    background-color: var(--text-primary);
}
